body {
	background-color: #def4f0;
}

h1 {
	color: #00a1ab;
}

h2 {
	color: #00a1ab;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 5%;
}
